#header-text-carousel .bg {    background-image: url('../images//uploaded/1845/1845-websmith__Background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}
#desc-text-2 .bg {
    background-image: url('../images/bg-73.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    opacity:1;
}#benefits-3col-3 .bg-wrap {
    background-color: #f4f5f6;
}
#text-1col .bg {
	background-size: cover;
    background-image: url('../images//uploaded/1845/1845-websmith__Background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
}
#action-text-timer .bg-wrap {
    background: #026f96;
}

#action-text-timer .bg {
    background-image: url('../images/bg-71.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.12;
}
#subscribe-text-img--0 .bg-wrap {
    background: #ffffff;
}
#footer-text-map .bg-wrap {
    background-color: #F4F5F6;
}
